 /**
 * Site header
 */
 
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 2;
    //margin: auto;
  
    // Positioning context for the mobile navigation icon
    position: relative;
  }
  
  .site-title {
    // -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    //  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    // font-family: $apple-font;
    font-family: 'Asap', sans-serif;
    @include relative-font-size(1.25);
    // font-size: large;
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 2.5;
    letter-spacing: $apple-font-space;
    margin-bottom: 0;
    margin: auto;
    //margin-left: auto;
    //margin-right: auto;
    //align-items: center;
    //float: left;
  
    &,
    &:visited {
      color: $grey-color-dark;
    }
  }
  
  .site-nav {
    float: right;
    line-height: $base-line-height * $base-font-size * 2.5;
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    // font-family: $apple-font;
    // font-family: $b
    // display: inline-block;
  
    .nav-trigger {
        display: none;
    }
  
    .menu-icon {
      display: none;
    }
  
    .page-link {
    //   color: $text-color;
      font-size: large;
      font-family: $base-font-family;
      line-height: $base-line-height;
      color: $brand-color;
      letter-spacing: $apple-font-space;
  
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  
    @include media-query($on-palm) {
      position: absolute;
      top: 9px;
      right: $spacing-unit / 2;
      background-color: $background-color;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      text-align: right;
  
      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }
  
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
  
        > svg {
          fill: $grey-color-dark;
        }
      }
  
      input ~ .trigger {
        clear: both;
        display: none;
      }
  
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
  
      .page-link {
        display: block;
        padding: 5px 10px;
  
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }
  
  
  
  /**
   * Site footer
   */
  .site-footer {
    border-top: 0.5px solid $grey-color-light;
    padding: $spacing-unit 0;
    padding-top: 2px;
    padding-bottom:0px;
  }
  
  .footer-heading {
    @include relative-font-size(1.125);
    margin-bottom: $spacing-unit / 2;
  }
  
  .contact-list,
  .social-media-list {
    list-style: none;
    margin-left: 0;
  }
  
  .footer-col-wrapper {
    @include relative-font-size(0.9375);
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
    font-size: 16px;
  }
  
  .footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
  
  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
  }
  
  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
  }
  
  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
  }
  
  @include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
      width: -webkit-calc(50% - (#{$spacing-unit} / 2));
      width:         calc(50% - (#{$spacing-unit} / 2));
    }
  
    .footer-col-3 {
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  }
  
  @include media-query($on-palm) {
    .footer-col {
      float: none;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  }


  /**
  * Sandbox stuff
  */
  /* Create two unequal columns that floats next to each other */
.sand-column {
  float: left;
  // padding: 10px;
  width: 50%;
  // background-color: $background-color;
  // height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.sand-row:after {
  content: "";
  display: table;
  clear: both;
}

.project-link{
  // @include relative-font-size(2);
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  // border-bottom: 3px solid $brand-color;
  // padding-top: 30px; // adds color to the margin
  // margin-top: 30px;
  // margin-bottom: 20px;
 }

 .project-content {
  // margin-top: 30px;
  // margin-bottom: 50px;
  // padding: $spacing-unit 0;
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  flex: 1;
  font-size: large;
  padding-top: 0;
  text-align: justify;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-right: auto;
  // margin-left: auto;
 }
  
   /**
   * Home stuff
   */

  .wrapper-home-test {
    width: 100%;
    position: absolute;
    z-index: 1;
  }

 .wrapper-home {
  // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  // max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  // margin: 0;
  // padding: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 200px;
  // padding-right: $spacing-unit;
  // padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

  .title{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    margin: auto;
    // padding: 100px;
    // padding-top: 300px;
    // line-height: 18;
  }
   .home {
    margin: 0;
    padding: 0;
   }

   .highlight-word {
    padding-top: 0px;
    color: $brand-color; /* Or any color you prefer for highlighting */
    font-weight: bold; /* Optional, if you want the text to be bold */
  }
  
  .highlight {
    padding-top: 0px;
    color: $text-color;
    // font-weight: bold;
  }

  @keyframes hover-vertical {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  
  @keyframes hover-horizontal {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(-10px); }
  }
  
  .molecule {
    position: absolute;
    width: 75px; /* Adjust as needed */
    height: 75px; /* Adjust as needed */
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }

  .animation-container {
    position: fixed; /* or absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensures clicks pass through to content below */
    z-index: 1; /* Keep it below the text content */
  }

  @media (min-width: 901px) { /* When the viewport is wider than 900px */
    .molecule-left {
      position: absolute;
      left: calc((100vw - 900px) / 2 - 100px); /* Left of the center */
      /* Other styles... */
    }
  
    .molecule-right {
      position: absolute;
      right: calc((100vw - 900px) / 2 - 100px); /* Right of the center */
      /* Other styles... */
    }
  }

  @media (max-width: 900px) {
    .molecule-left, .molecule-right {
      /* Optional: hide or reposition for smaller screens */
      display: none; /* Example: hides molecules on smaller screens */
    }
  }


//   .page-content {
//     /* Ensure your main content doesn't overlap with the molecules */
//     margin-left: 100px;
//     margin-right: 100px;
// }


  .grey-block {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    // margin-top: 20px;
    margin: 0;
    background-color: $grey-color-light;
    padding: $spacing-head-unit 10px $spacing-head-unit;
    z-index: 10;
   }

   .white-block {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    // margin-top: 20px;
    margin: 0;
    background-color: $background-color;
    padding: $spacing-head-unit 10px $spacing-head-unit;
    z-index: 10;
   }

   .home-heading{
    @include relative-font-size(2);
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    // border-bottom: 3px solid $brand-color;
    // padding-top: 30px; // adds color to the margin
    // margin-top: 30px;
    // margin-bottom: 20px;
    z-index: 10;
   }

   .home-content {
    // margin-top: 30px;
    // margin-bottom: 50px;
    // padding: $spacing-unit 0;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    flex: 1;
    font-size: large;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    z-index: 10;
    flex: 1; /* Takes up the remaining space */
    padding-right: 2px; /* Adds some space between the text and the image */
  }

  .home-list {
    // font-size: large;
    margin-left: 20px;
    list-style: square;
      
    > li {
      margin-bottom: $spacing-unit/2;
      // font-size: large;
    }
  }

  .home-publist {
    // font-size: large;
    margin-left: 0;
    list-style: none;
  
    > li {
      margin-bottom: $spacing-unit/2;
      // font-size: large;
    }
  }

  .home-news-meta {
    // font-size: $small-font-size;
    color: $brand-color;
    // font-weight: bold;
  }

  .home-pubs-meta {
    // font-size: $small-font-size;
    // color: $grey-color-dark;
    font-weight: bold;
  }

  .home-note {
    // font-size: medium;
    color: $brand-color;
    font-style: italic;
    // font-weight: bold;
  }

  .home-line{
    border-top: 2px solid $grey-color-dark;
  }

  .div-line {
    border-top: 0.5px solid $grey-color-dark;
    width: 900px; /* Set the desired width */
    margin: auto; /* Center the line */
  }
  

  .objects{
    background-color: linear-gradient(to right, #159957, #155799);
    width: 100%;
    height: 100vh;
  }

  .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .box li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: $brand-color;
    animation: animate 20s linear infinite;
    bottom: -150px;
    border-radius: 50%;
  }

  .box li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }

  .box li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
  }

  .box li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
    // animation-duration: 10s;
  }

  .box li:nth-child(4){
    left: 45%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
  }

  .box li:nth-child(5){
    left: 14%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    // animation-duration: 15s;
  }

  .box li:nth-child(6){
    left: 65%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
    // animation-duration: 15s;
  }

  @keyframes animate{
    0%{
      transform: translateY(0) scale(0);
    }
    100%{
      transform: translateY(-800px) scale(2);
      opacity: 0;
    }
  }
  
  /**
   * Page content
   */
  .page-content {
    padding: $spacing-unit 0;
    font-size: large;
    flex: 1;
  }
  
  .page-heading {
    @include relative-font-size(2);
  }
  
  .post-list-heading {
    @include relative-font-size(1.75);
  }
  
  .post-list {
    margin-left: 0;
    list-style: none;
  
    > li {
      margin-bottom: $spacing-unit;
    }
  }
  
  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }
  
  .post-link {
    display: block;
    @include relative-font-size(1.5);
  }
  
  
  
  /**
   * Posts
   */
  .post-header {
    margin-bottom: $spacing-unit;
  }
  
  // change what a page looks like
  .post-title {
    // font-family: $apple-font;
    font-family: 'Asap', sans-serif;
    @include relative-font-size(2);
    // letter-spacing: $apple-font-space;
    line-height: 1;
    // font-weight: bold;
    margin-top: 30px;
    margin-bottom: 40px;
  
    @include media-query($on-laptop) {
      @include relative-font-size(2.25);
    }
  }
  
  .post-content {
    margin-bottom: $spacing-unit;
    font-family: 'Asap', sans-serif;
  
    h2 {
      @include relative-font-size(2);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.75);
      }
    }
  
    h3 {
      @include relative-font-size(1.625);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.375);
      }
    }
  
    h4 {
      @include relative-font-size(1.25);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.125);
      }
    }
  }
  /**
   * full screen image
   */
  .full-screen-image {
    background-image: url('/images/open_road.jpg'); /* Replace with the correct path to your image */
    height: 100vh; /* Full height of the viewport */
    width: 100%; /* Full width */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
}

// .page-content {
//     margin-top: 10vh; /* Push the content down by the height of the viewport */
// }

#location-text {
  position: absolute; /* Fix position relative to the viewport */
  bottom: 10px; /* Distance from the bottom of the viewport */
  right: 10px; /* Distance from the right of the viewport */
  font-size: 14px; /* Set the font size */
  color: gray; /* Set the text color */
  font-family: $base-font-family;
}

#location-title {
  position: absolute; /* Fix position relative to the viewport */
  top: 80%; /* Center vertically */
  left: 43%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the element's own size */
  font-size: 36px; /* Set the font size */
  color: white; /* Set the text color */
  font-family: $base-font-family; /* Set font family */
  cursor: pointer; /* Changes the cursor to indicate clickable item */
  transition: color 0.3s ease; /* Optional: Smooth transition for color change */
}

#location-title:hover {
  color: $brand-color; /* Change to a color that suits your design */
  text-decoration: underline; /* Optional: Adds an underline on hover */
  /* You can add other hover effects like font-weight: bold; if desired */
}


/**************************************************/
/* Profile image and description. */

.home-all {
  display: flex; /* Enables Flexbox */
  align-items: top; /* Aligns items vertically in the center */
  justify-content: space-between; /* Spaces out the children */
  margin-right: auto;
  margin-left: auto;
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));

}

#intro-image {
  flex-basis: 12em; /* Adjust the size of the image container */
  max-width: 10em; /* Ensures the image container doesn't grow too large */
  max-height: 10em;
  margin-left: 10px; /* Space between text and image */
  // overflow: hidden;

}

#intro-image img {
  width: 100%; /* Makes the image responsive */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Removes bottom margin/whitespace inherent to inline elements */
  border-radius: 10px; /* Adjust as needed */

}


/**************************************************/
/* Section buttons. */

#menu {
  display: flex;
}

.menu-item {
  float: left;
  margin-right: 2em;
}

h2 {
  font-size: 1.6em;
  line-height: 2.4em;
  margin-top: 0.5em;
  color: #a0a8b0;
}

.selected h2 {
  color: #150c21;
}

.button {
  @include relative-font-size(2);
  display: inline-block;
  cursor: pointer;
  border: none;
  background: none;
  color: $grey-color;
  // font-size: 1.6em;
  font-family:$base-font-family;
  // line-height: 2.4em;
  margin: 0 20px; /* Add horizontal space between buttons */
  float: left;
  padding: 0;
}

.button:hover {
  color: $text-color;
}

.button:active,
.button.is-checked {
  color: $text-color;
}

.button-group {
  text-align: center; /* Centers the buttons horizontally */
  margin: auto; /* Optionally, ensure the group itself is centered */
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  background-color: $background-color;
  padding: $spacing-head-unit 10px $spacing-head-unit;
  z-index: 10;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

/**************************************************/
/* Isotope grid list of items. */

.grid {
  padding-bottom: 6em;
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  flex: 1;
  font-size: large;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.description {
  margin-bottom: 1em;
}

.list-item {
  width: 100%;
  // line-height: 1em;
  // margin-top: 1em;
}

.list-item.highlight {
  display: flex;
  align-items: top;
}

.list-item p.date {
  display: inline-block;
  width: 5em;
  color: #a0a8b0;
  padding-bottom: 0px;
  // color:green;
}

.list-item p.month-date {
  display: inline-block;
  width: 5em;
  color: $brand-color;
  padding-bottom: 0px;
  flex-shrink: 0; /* Prevents the date from shrinking */
  margin-right: 3px; /* Adjust as needed for spacing */
  white-space: nowrap; /* Keeps the date on one line */
  // color:green;
}

/**************************************************/
/* List item publications */

/**************************************************/
/* Publication details (thumbnail media, title, and description). */

.thumbnail {
  /*  width: 21%;*/
    width: 19%;
    float: left;
    margin-right: 2%;
  }
  
  .thumbnail:hover {
    border-bottom: none;
  }
  
  .thumbnail img {
    margin-top: 0.4em;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-height: 125px;
    
  }
  
  .thumbnail video {
    margin-top: 0.4em;
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }
  
  h3 {
    font-size: 1em;
    line-height: 1.5em;
  }
  
  h3 a {
    color: #150c21;
  }
  
  h3 a:hover {
    color: rgb(20, 110, 190);
  }
  
  .publication {
    margin-bottom: 0.5em;
  }
  
  .publication p {
    font-size: 1em;
    line-height: 1.5em;
    color: #a0a8b0;
  }
  
  .project-description {
    width: 78%;
    float: left;
    padding-top:8px;
  }

  .list-content {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    flex: 1;
    font-size: large;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    z-index: 10;
    flex: 1; /* Takes up the remaining space */
    padding-right: 2px; /* Adds some space between the text and the image */
  }

  .list-content p.date {
    display: inline-block;
    width: 5em;
    color: #a0a8b0;
  }

  .list-more {

    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    // flex: 1;
    font-size: large;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
    padding-top: -100px;
  }

  .highlight-name {
    color: $grey-color-dark;
    font-weight: 500;
  }

  .experience-company {
    color: $brand-color;
  }

  .experience-title {
    color: $text-color;
    font-weight: 700px;
    font-style: italic;
  }

  .experience-list {
    padding-left: 5em;
    font-size: 16px;
      
    > li {
      margin-bottom: $spacing-unit/4;
    }
  }

  .news-list {
    padding-left: 1em;
    list-style-position: inside;
    flex-grow: 1;
    // font-size: 16px;
    list-style: none;
    float: left;
    margin: 0;
      
    > li {
      margin-bottom: $spacing-unit/4;
    }
  }

  .conference-title {
    color: #a0a8b0;
  }