<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

    <body>
    <div class="animation-container"></div>
    {%- include header.html -%}
    <!-- <div class="molecule-left"></div> -->
    <main class="page-content" aria-label="Content">
        <div class="wrapper-home">
            <!-- BIO -->
            <div class="white-block">
                {%- if page.title -%}
                <h1 class="home-heading">{{ page.title }}</h1>
                {%- endif -%}
            
                <!-- <div class="g-left"></div> -->
                <div class="home-content">
                I am a <span class="highlight">4th-year</span> Computer Science PhD student at Vanderbilt 
                University in Dr. Taylor Johnson's Verification and Validation 
                for Intelligent and Trustworthy Autonomy Laboratory <a href="http://www.taylortjohnson.com/">(VeriVITAL)</a>. 
                I am interested in research related to <span class="highlight">machine learning applications, reinforcement 
                learning, generative AI, interactive technologies, and cybersecurity</span>. I am honored to be supported by a National Defense Science and 
                Engineering Graduate Fellowship (NDSEG Fellow).
                </div>
            </div>
            
            <div class="home-line"></div>
            
            <!-- NEWS -->
            <div class="grey-block">
                <h1 class="home-heading">News</h1>
                <div class="home-content">
                    <ul class="home-list">
                        <li>
                            <span class="home-news-meta">[Feb. 2024]</span> 
                            Successfully defended my Qualification Exam on "Deep Learning Enabled Methods for 
                            Information Hiding"!
                        </li>
                        <li>
                            <span class="home-news-meta">[Jan. 2024]</span> 
                            Paper on "Case Study: Neural Network Malware Detection Verification 
                            for Feature and Image Datasets" accepted at the International
                            Conference on on Formal Methods in Software Engineering (FormaliSE) 2024!
                        </li>
                        <li>
                            <span class="home-news-meta">[Oct. 2023]</span> 
                            Gave a talk at AISoLa 2023: Bridging the Gap
                            Between AI and Reality on "Benchmark: Neural Network Malware
                            Classification."
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2023]</span> 
                            Gave a talk at European Conference on Artificial Intelligence (ECAI) 2023 on "SUDS: Sanitizing Universal and Dependent
                            Steganography."
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2023]</span> 
                            Attended the Grace Hopper Conference 2023 in Orlando, FL.
                        </li>
                        <li>
                            <span class="home-news-meta">[July 2023]</span> 
                            Gave a talk at National Defense Science and Graduate 
                            Fellowship Conference 2023 on "Self-Preserving Genetic 
                            Algorithms for Safe Learning in Discrete Action Spaces."
                        </li>
                        <li>
                            <span class="home-news-meta">[May 2023]</span> 
                            Headed to Apple for the summer as a 
                            machine learning engineering intern.
                        </li>
                        <li>
                            <span class="home-news-meta">[May 2023]</span> 
                            Presented "Self-Preserving Genetic Algorithms 
                            for Safe Learning in Discrete Action Spaces" and "DEMO: Self-Preserving Genetic Algorithms vs. Safe
                            Reinforcement Learning in Discrete Action Spaces"
                            at ICCPS 2023.
                        </li>
                        <li>
                            <span class="home-news-meta">[Feb. 2023]</span> 
                            Demo paper on "DEMO: Self-Preserving Genetic Algorithms vs. Safe
                            Reinforcement Learning in Discrete Action Spaces" accepted at the International
                            Conference on Cyber Physical Systems (ICCPS) 2023!
                        </li>
                        <li>
                            <span class="home-news-meta">[Jan. 2023]</span> 
                            Paper on "Self-Preserving Genetic Algorithms 
                            for Safe Learning in Discrete Action Spaces" accepted at the International
                            Conference on Cyber Physical Systems (ICCPS) 2023!
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2022]</span> 
                            Gave a talk at SEFM 2022 on "Training Agents to Satisfy 
                            Timed and Untimed Signal Temporal Logic Specifications with 
                            Reinforcement Learning."
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2022]</span> 
                            Attended the first Berlin Workshop on 
                            Artificial Intelligence for Engineering 
                            Applications (AI4EA).
                        </li>
                        <li>
                            <span class="home-news-meta">[May 2022]</span> 
                            Headed to the DoD for the summer as a 
                            cybersecurity engineering intern.
                        </li>
                        <li>
                            <span class="home-news-meta">[Mar. 2022]</span> 
                            Gave a talk at IEEE AeroConf on "Reinforcement 
                            Learning Heuristics for Aerospace Control Systems."
                        </li>
                        <li>
                            <span class="home-news-meta">[Dec. 2021]</span> 
                            Passed my Preliminary Exam.
                        </li>
                        <li>
                            <span class="home-news-meta">[Nov. 2021]</span> 
                            Paper on "Reinforcement Learning Heuristics for 
                            Aerospace Control Systems" accepted at IEEE Aerospace 2022!
                        </li>
                        <li>
                            <span class="home-news-meta">[May 2021]</span> 
                            Headed to Air Force Research Laboratory (AFRL) for the summer 
                            as a reinforcement learning research intern.
                        </li>
                        <li>
                            <span class="home-news-meta">[Apr. 2021]</span> 
                            Gave a talk on "Generative Models According to Tom Cruise" 
                            for the VandyHacks Workshop Series.
                        </li>
                        <li>
                            <span class="home-news-meta">[Apr. 2021]</span> 
                            Honored to receive and accept a National Defense Science and 
                            Engineering Graduate Fellowship. <b>(won/accepted)</b>
                        </li>
                        <li>
                            <span class="home-news-meta">[Apr. 2021]</span> 
                            Honored to receive a Science, Mathematics, and Research for 
                            Transformation Scholarship. <b>(won)</b>
                        </li>
                        <li>
                            <span class="home-news-meta">[Mar. 2021]</span> 
                            Gave a talk on "Unmasking Reinforcement Learning" for 
                            the VandyHacks Workshop Series.
                        </li>
                        <li>
                            <span class="home-news-meta">[Feb. 2021]</span> 
                            Gave a talk on "An Introduction to Artificial Intelligence" 
                            for the VandyHacks Workshop Series.
                        </li>
                        <li>
                            <span class="home-news-meta">[Jan. 2021]</span> 
                            Teaching Assistant for <i>Intermediate 
                            Software Design (CS3251)</i>. (Spring 2021)
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2021]</span> 
                            [Teaching Assistant for <i>Introduction to Engineering, Computer 
                            Science Modules (ES1401/ES1402/ES1403)</i>. (Fall 2020)
                        </li>
                        <li>
                            <span class="home-news-meta">[Aug. 2020]</span> 
                            Headed to Vanderbilt University to start my PhD.
                        </li>
                    </ul>
                </div>
            </div>
            
            
            <div class="home-line"></div>
            
            <!-- PUBS -->
            <div class="white-block">
                <h1 class="home-heading">Publications</h1>
                <div class="home-content">
                    <ul class="home-publist">
                        <li>
                            <span class="home-pubs-meta">[1]</span>
                            "Case Study: Neural Network Malware Detection Verification for Feature and Image Datasets."
                            In: International Conference on Formal Methods in Software Engineering (FormaliSE), 2024. <span class="home-note">*</span>
                        </li>
                        <li>
                            <span class="home-pubs-meta">[2]</span>
                            "Benchmark: neural network malware classification."
                            In: AISoLA: International Symposium on Leveraging Applications
                            of Formal Methods, 2023. <span class="home-note">*</span>
                        </li>
                        <li>
                            <span class="home-pubs-meta">[3]</span>
                            "SUDS: sanitizing universal and dependent steganography". European Conference on Artificial
                            Intelligence (ECAI), vol.372, pp. 1978-1985, 2023. <span class="home-note">*</span>
                        </li>
                        <li>
                            <span class="home-pubs-meta">[4]</span> 
                            "Self-Preserving Genetic Algorithms for Safe Learning in Discrete Action Spaces." Proceedings of the ACM/IEEE 14th 
                            International Conference on Cyber-Physical Systems (with CPS-IoT Week 2023). 2023.<span class="home-note">*</span>
                        </li>
                        <li>
                            <span class = "home-pubs-meta">[5]</span>
                            ""DEMO: Self-Preserving Genetic Algorithms vs. Safe
                            Reinforcement Learning in Discrete Action Spaces"Proceedings of the ACM/IEEE 14th 
                            International Conference on Cyber-Physical Systems (with CPS-IoT Week 2023). 2023.<span class="home-note">*</span>
                        </li>
                        <li>
                            <span class="home-pubs-meta">[6]</span> 
                            “Automated detection of corrosion in used nuclear 
                            fuel dry storage canisters using residual neural networks,” 
                            Nuclear Engineering and Technology, vol. 53, no. 2, pp. 657–665, 2021.
                        </li>
                        <li>
                            <span class="home-pubs-meta">[7]</span> 
                            “Reinforcement learning heuristics for aerospace 
                            control systems,” IEEE Aerospace, 2021.<span class="home-note">*</span>
                        </li>
                        <li>
                            <span class="home-pubs-meta">[8]</span> 
                            “Training agents to satisfy timed and untimed signal 
                            temporal logic specifications with 	reinforcement learning,” 
                            in International Conference on Software Engineering and Formal 	
                            Methods, pp. 190–206, Springer, 2022.
                        </li>
                        <li>
                            <span class="home-pubs-meta">[9]</span> 
                            “An empirical analysis of the use of real-time reachability for the safety assurance of 
                            autonomous 	vehicles,” arXiv preprint arXiv:2205.01419, 2022.
                        </li>
                        <li>
                            <span class="home-pubs-meta">[10]</span> 
                            “Myoelectric control of prosthetics and robotics,” Bulletin of 
                            the American Physical Society, vol. 63, 2018.<span class="home-note">*</span>
                        <li>
                    </ul>
                    <span class="home-note">*</span> first author
                </div>
            </div>
        </div>
    </main>

    {%- include footer.html -%}
    <script>
        function createMolecule(type, color) {
            const molecule = document.createElement('div');
            molecule.classList.add('molecule', `molecule-${type}`);

            // Randomly select an image
            const imageNumber = Math.floor(Math.random() * 10); // 0 to 9
            molecule.style.backgroundImage = `url('/images/${color}/${imageNumber}.png')`;

            // Molecule size (adjust as needed)
            const moleculeWidth = 75; // Assuming each molecule is 75px wide
            // Variable for positionX
            let positionX;

            // Randomly select a horizontal position within the window's width, minus the molecule's width
            if (type === "right") {
                positionX = Math.random() * ((window.innerWidth - moleculeWidth - 1000) / 2) + 1250;
            } else {
                positionX = Math.random() * ((window.innerWidth - moleculeWidth - 900) / 2);
            }

            const positionY = Math.random() * window.innerHeight;


            molecule.style.left = `${positionX}px`;
            molecule.style.top = `${positionY}px`;

            // Randomly select an animation
            const animation = Math.random() > 0.5 ? 'hover-vertical' : 'hover-horizontal';
            molecule.style.animation = `${animation} 3s ease-in-out infinite`;

    return molecule;

        }
    
        // Example of creating and appending molecules
        function addMolecules(count, color) {
            const container = document.querySelector('.animation-container');
            for (let i = 0; i < count; i++) {
                const type = i % 2 === 0 ? 'left' : 'right'; // Alternate between left and right
                container.appendChild(createMolecule(type, color));
            }
        }
    
        window.onload = () => {
            addMolecules(10, 'blue'); // Adjust the count and color as needed
            // addMolecules(15, 'green'); // Adjust the count and color as needed
            addMolecules(15, 'purple'); // Adjust the count and color as needed
        };

    </script>



</body>

</html>
