<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

<head>
    <!-- Isotope JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    </style>
</head>

{%- include head.html -%}

    <body>
    <!-- ADD THIS BACK FOR ANIMATIONS!! -->
    <!-- <div class="animation-container"></div> -->
    <div class="full-screen-image">
        <span id="location-text">Shoshone, CA. Shot on iPhone. 2023.</span>
        <span id="location-title" onclick="scrollDown()">Preston Robinette</span>
    </div>
    <main class="page-content" id="content-start" aria-label="Content">
        <div class="wrapper-home">
            <!-- BIO -->
            <div class="white-block">
                <h1 class="home-heading">Preston Robinette</h1>
            
                <div class="home-all">
                    <div class="home-content">
                        Hi, there! I am a <span class="highlight-word">4th-year</span> Computer Science PhD student at Vanderbilt 
                        University in Dr. Taylor Johnson's Verification and Validation 
                        for Intelligent and Trustworthy Autonomy Laboratory <a href="http://www.taylortjohnson.com/">(VeriVITAL)</a>. 
                        I am interested in research related to <span class="highlight-word">machine learning applications, reinforcement 
                        learning, generative AI, interactive technologies, and cybersecurity</span>. I am honored to be supported by a National Defense Science and 
                        Engineering Graduate Fellowship (NDSEG Fellow).
                    </div>
                    <div id="intro-image">
                        <img src="/images/Headshot.jpg">
                    </div>
                </div>
            </div>

            <div class="home-content">
            <a href="https://github.com/pkrobinette">Github</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://scholar.google.com/citations?user=FzdIX4AAAAAJ&hl=en">G. Scholar</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://linkedin.com/in/prestonrobinette">LinkedIn</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/cv/CV_F23.pdf">CV</a>
            <br>
            preston dot k dot robinette at vanderbilt dot edu
            <br><br><br>
            </div>
            
            <div class="div-line"></div>


            <div id="filters" class="button-group">
                <!-- <button class="button" data-filter="*">Show All</button> -->
                <button class="button is-checked" data-filter=".highlight">Highlights</button>
                <button class="button" data-filter=".publication">Research</button>
                <!-- <button class="button" data-filter=".talk">Talks</button> -->
                <!-- <button class="button" data-filter=".misc">Misc</button> -->
            </div>
        
            <div class="grid">
        
                <!-- Highlights -->
                <div class="list-item highlight home-list" data-category="highlight">
                Some recent highlights:
                </div>

                <!-- Truncated Set of Highlights (Shown by Default) -->
                <div id="main-highlights">
                    <div class="list-item highlight" data-category="highlight">
                        <ul class="home-list">
                            <li>
                                <span class="home-news-meta">[Oct. 2023]</span> 
                                Gave a talk at AISoLa 2023: Bridging the Gap
                                Between AI and Reality on "Benchmark: Neural Network Malware
                                Classification."
                            </li>
                            <li>
                                <span class="home-news-meta">[Sept. 2023]</span> 
                                Gave a talk at European Conference on Artificial Intelligence (ECAI) 2023 on "SUDS: Sanitizing Universal and Dependent
                                Steganography."
                            </li>
                            <li>
                                <span class="home-news-meta">[Sept. 2023]</span> 
                                Attended the Grace Hopper Conference 2023 in Orlando, FL.
                            </li>
                            <li>
                                <span class="home-news-meta">[July 2023]</span> 
                                Gave a talk at National Defense Science and Graduate 
                                Fellowship Conference 2023 on "Self-Preserving Genetic 
                                Algorithms for Safe Learning in Discrete Action Spaces."
                            </li>
                            <li>
                                <span class="home-news-meta">[May 2023]</span> 
                                Headed to Apple for the summer as a 
                                machine learning engineering intern.
                            </li>
                        </ul>
                    </div>
        
                </div>
        
                <!-- All Archived Highlights (Click to Show) -->
                <div id="more-highlights" style="display: None">
        
                    <div class="list-item highlight" data-category="highlight">
                    <ul class="home-list">
                        <li>
                            <span class="home-news-meta">[Oct. 2023]</span> 
                            Gave a talk at AISoLa 2023: Bridging the Gap
                            Between AI and Reality on "Benchmark: Neural Network Malware
                            Classification."
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2023]</span> 
                            Gave a talk at European Conference on Artificial Intelligence (ECAI) 2023 on "SUDS: Sanitizing Universal and Dependent
                            Steganography."
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2023]</span> 
                            Attended the Grace Hopper Conference 2023 in Orlando, FL.
                        </li>
                        <li>
                            <span class="home-news-meta">[July 2023]</span> 
                            Gave a talk at National Defense Science and Graduate 
                            Fellowship Conference 2023 on "Self-Preserving Genetic 
                            Algorithms for Safe Learning in Discrete Action Spaces."
                        </li>
                        <li>
                            <span class="home-news-meta">[May 2023]</span> 
                            Headed to Apple for the summer as a 
                            machine learning engineering intern.
                        </li>
                        <li>
                            <span class="home-news-meta">[May 2023]</span> 
                            Presented "Self-Preserving Genetic Algorithms 
                            for Safe Learning in Discrete Action Spaces" and "DEMO: Self-Preserving Genetic Algorithms vs. Safe
                            Reinforcement Learning in Discrete Action Spaces"
                            at ICCPS 2023.
                        </li>
                        <li>
                            <span class="home-news-meta">[Feb. 2023]</span> 
                            Demo paper on "DEMO: Self-Preserving Genetic Algorithms vs. Safe
                            Reinforcement Learning in Discrete Action Spaces" accepted at the International
                            Conference on Cyber Physical Systems (ICCPS) 2023!
                        </li>
                        <li>
                            <span class="home-news-meta">[Jan. 2023]</span> 
                            Paper on "Self-Preserving Genetic Algorithms 
                            for Safe Learning in Discrete Action Spaces" accepted at the International
                            Conference on Cyber Physical Systems (ICCPS) 2023!
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2022]</span> 
                            Gave a talk at SEFM 2022 on "Training Agents to Satisfy 
                            Timed and Untimed Signal Temporal Logic Specifications with 
                            Reinforcement Learning."
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2022]</span> 
                            Attended the first Berlin Workshop on 
                            Artificial Intelligence for Engineering 
                            Applications (AI4EA).
                        </li>
                        <li>
                            <span class="home-news-meta">[May 2022]</span> 
                            Headed to the DoD for the summer as a 
                            cybersecurity engineering intern.
                        </li>
                        <li>
                            <span class="home-news-meta">[Mar. 2022]</span> 
                            Gave a talk at IEEE AeroConf on "Reinforcement 
                            Learning Heuristics for Aerospace Control Systems."
                        </li>
                        <li>
                            <span class="home-news-meta">[Dec. 2021]</span> 
                            Passed my Preliminary Exam.
                        </li>
                        <li>
                            <span class="home-news-meta">[Nov. 2021]</span> 
                            Paper on "Reinforcement Learning Heuristics for 
                            Aerospace Control Systems" accepted at IEEE Aerospace 2022!
                        </li>
                        <li>
                            <span class="home-news-meta">[May 2021]</span> 
                            Headed to Air Force Research Laboratory (AFRL) for the summer 
                            as a reinforcement learning research intern.
                        </li>
                        <li>
                            <span class="home-news-meta">[Apr. 2021]</span> 
                            Gave a talk on "Generative Models According to Tom Cruise" 
                            for the VandyHacks Workshop Series.
                        </li>
                        <li>
                            <span class="home-news-meta">[Apr. 2021]</span> 
                            Honored to receive and accept a National Defense Science and 
                            Engineering Graduate Fellowship. <b>(won/accepted)</b>
                        </li>
                        <li>
                            <span class="home-news-meta">[Apr. 2021]</span> 
                            Honored to receive a Science, Mathematics, and Research for 
                            Transformation Scholarship. <b>(won)</b>
                        </li>
                        <li>
                            <span class="home-news-meta">[Mar. 2021]</span> 
                            Gave a talk on "Unmasking Reinforcement Learning" for 
                            the VandyHacks Workshop Series.
                        </li>
                        <li>
                            <span class="home-news-meta">[Feb. 2021]</span> 
                            Gave a talk on "An Introduction to Artificial Intelligence" 
                            for the VandyHacks Workshop Series.
                        </li>
                        <li>
                            <span class="home-news-meta">[Jan. 2021]</span> 
                            Teaching Assistant for <i>Intermediate 
                            Software Design (CS3251)</i>. (Spring 2021)
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2021]</span> 
                            [Teaching Assistant for <i>Introduction to Engineering, Computer 
                            Science Modules (ES1401/ES1402/ES1403)</i>. (Fall 2020)
                        </li>
                        <li>
                            <span class="home-news-meta">[Aug. 2020]</span> 
                            Headed to Vanderbilt University to start my PhD.
                        </li>
                    </ul>
                    </div>
        
                </div>
        
                <!-- Toggle highlights button. -->
                <div class="list-item highlight home-list" data-category="highlight">
                    <a id="toggle_highlights_button" href="javascript:toggle_highlights()">Show more</a>
                </div>
        
        
        
        
                <!-- Publications -->
                <div class="list-item publication" data-category="publication">
                    <div class="thumbnail">
                        <img src="/thumbnails/malware.png" alt="" />
                    </div>
                    <div class="project-description">
                        <h3><a href="https://link.springer.com/chapter/10.1007/978-3-031-46002-9_17">Benchmark: Neural Network Malware Classification</a></h3>
                            <p>
                            <span class="highlight-name">Preston K. Robinette,</span> Diego Manzanas Lopez, Taylor T. Johnson<br>
                            <a href="https://link.springer.com/chapter/10.1007/978-3-031-46002-9_17">PDF</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                            <a href="https://github.com/pkrobinette/malware_benchmarks">Code</a>
                            <br> 
                        </p>
                    </div>
                </div> 
                
                
                <div class="list-item publication" data-category="publication">
                    <div class="thumbnail">
                        <img src="/thumbnails/suds.png" alt="" />
                    </div>
                    <div class="project-description">
                        <h3><a href="https://ebooks.iospress.nl/doi/10.3233/FAIA230489">SUDS: Sanitizing Universal and Dependent Steganography</a></h3>
                            <p>
                            <span class="highlight-name">Preston K. Robinette,</span> Hanchen David Wang, Nishan Shehadeh, Daniel Moyer, Taylor T. Johnson<br>
                            <a href="https://ebooks.iospress.nl/doi/10.3233/FAIA230489">PDF</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                            <a href="https://github.com/pkrobinette/suds-ecai-2023">Code</a>
                            <br> 
                        </p>
                    </div>
                </div>  

                <div class="list-item publication" data-category="publication">
                    <div class="thumbnail">
                        <img src="/thumbnails/spga.png" alt="" />
                    </div>
                    <div class="project-description">
                        <h3><a href="https://dl.acm.org/doi/abs/10.1145/3576841.3585936">Self-Preserving Genetic Algorithms for Safe Learning in Discrete Action Spaces</a></h3>
                            <p>
                            <span class="highlight-name">Preston K. Robinette,</span>  Nathaniel P. Hamilton, Taylor T. Johnson<br>
                            <a href="https://dl.acm.org/doi/abs/10.1145/3576841.3585936">PDF</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                            <a href="https://github.com/pkrobinette/spga">Code</a>
                            <br> 
                        </p>
                    </div>
                </div>    

                <div class="list-item publication" data-category="publication">
                    <div class="thumbnail">
                        <img src="/thumbnails/spga_demo.png" alt="" />
                    </div>
                    <div class="project-description">
                        <h3><a href="https://dl.acm.org/doi/abs/10.1145/3576841.3589635">DEMO: Self-Preserving Genetic Algorithms vs. Safe Reinforcement Learning in Discrete Action Spaces</a></h3>
                            <p>
                            <span class="highlight-name">Preston K. Robinette,</span>  Nathaniel P. Hamilton, Taylor T. Johnson<br>
                            <a href="https://dl.acm.org/doi/abs/10.1145/3576841.3589635">PDF</a>
                            <!-- &nbsp;&nbsp;&bull;&nbsp;&nbsp; -->
                            <!-- <a href="https://github.com/pkrobinette/spga">Code</a> -->
                            <br> 
                        </p>
                    </div>
                </div> 

                <div class="list-item publication" data-category="publication">
                    <div class="thumbnail">
                        <img src="/thumbnails/stlgym.png" alt="" />
                    </div>
                    <div class="project-description">
                        <h3><a href="https://link.springer.com/chapter/10.1007/978-3-031-17108-6_12">Training Agents to Satisfy Timed and Untimed Signal Temporal Logic Specifications with Reinformcement Learning</a></h3>
                            <p>
                            Nathaniel P. Hamilton <span class="highlight-name">Preston K. Robinette,</span> Taylor T. Johnson<br>
                            <a href="https://link.springer.com/chapter/10.1007/978-3-031-17108-6_12">PDF</a>
                            &nbsp;&nbsp;&bull;&nbsp;&nbsp;
                            <a href="https://github.com/nphamilton/stl-gym">Code</a>
                            <br> 
                        </p>
                    </div>
                </div> 

                <div class="list-item publication" data-category="publication">
                    <div class="thumbnail">
                        <img src="/thumbnails/aero.png" alt="" />
                    </div>
                    <div class="project-description">
                        <h3><a href="https://ieeexplore.ieee.org/abstract/document/9843224">Reinforcement Learning Heuristics for Aerospace Control Systems</a></h3>
                            <p>
                            <span class="highlight-name">Preston K. Robinette,</span>  Ben K. Heiner, Umberto Ravaioli, Nathaniel P. Hamilton, Taylor T. Johnson, Kerianne L. Hobbs<br>
                            <a href="https://ieeexplore.ieee.org/abstract/document/9843224">PDF</a>
                            <!-- &nbsp;&nbsp;&bull;&nbsp;&nbsp; -->
                            <!-- <a href="https://github.com/pkrobinette/spga">Code</a> -->
                            <br> 
                        </p>
                    </div>
                </div> 

                <div class="list-item publication" data-category="publication">
                    <div class="thumbnail">
                        <img src="/thumbnails/control.png" alt="" />
                    </div>
                    <div class="project-description">
                        <h3><a href="https://doi.org/10.1109/ICAA52185.2022.00010">On using real-time reachability for the safety assurance of machine learning controllers</a></h3>
                            <p>
                            Patrick Musau, <span class="highlight-name">et al.</span><br>
                            <a href="https://doi.org/10.1109/ICAA52185.2022.00010">PDF</a>
                            <!-- &nbsp;&nbsp;&bull;&nbsp;&nbsp; -->
                            <!-- <a href="https://github.com/pkrobinette/spga">Code</a> -->
                            <br> 
                        </p>
                    </div>
                </div> 

                <div class="list-item publication" data-category="publication">
                    <div class="thumbnail">
                        <img src="/thumbnails/nuclear.png" alt="" />
                    </div>
                    <div class="project-description">
                        <h3><a href="https://doi.org/10.1016/j.net.2020.07.020">Automated detection of corrosion in used nuclear fuel dry storage canisters using residual neural networks</a></h3>
                            <p>
                            Theodore Papamarkou, <span class="highlight-name">et al.</span><br>
                            <a href="https://doi.org/10.1016/j.net.2020.07.020">PDF</a>
                            <!-- &nbsp;&nbsp;&bull;&nbsp;&nbsp; -->
                            <!-- <a href="https://github.com/pkrobinette/spga">Code</a> -->
                            <br> 
                        </p>
                    </div>
                </div> 



                
        
                <!-- Talks -->        
                <!-- <div class="list-item talk" data-category="talk">
                    <p class="date">2023</p>Cornell <a href="https://www.cs.cornell.edu/content/fall-2023-robotics-seminar">Robotics Seminar</a>
                </div> -->
        
        
                <!-- Services -->
                <!-- <div class="list-item misc" data-category="misc">
                    <p class="date">2023</p>Associate Editor, IEEE International Conference on Robotics and Automation (ICRA)
                </div> -->
        
            </div>
        </div>
    </main>

    {%- include footer.html -%}
    <script>

    //     function scrollDown() {
    //     // Scroll down by the height of the viewport
    //     window.scrollBy({
    //         top: window.innerHeight, // Vertical scroll equal to the viewport's height
    //         left: 0, // No horizontal scroll
    //         behavior: 'smooth' // Smooth scrolling
    //     });
    // }

    function scrollDown() {
        // Find the element that marks the beginning of the content
        var contentStart = document.getElementById('content-start');

        // Get the position of the content start element relative to the top of the document
        var topPosition = contentStart.getBoundingClientRect().top + window.scrollY;

        // Scroll to the top position of the content start element
        window.scrollTo({
            top: topPosition,
            left: 0,
            behavior: 'smooth'
        });
    }   

          // Isotope grid.
        var $grid = $('.grid').isotope({
        itemSelector: '.list-item',
        layoutMode: 'fitRows',
        transitionDuration: 0,
        stagger: 10,
        initLayout: false,
        getSortData: {
            name: '.name',
            symbol: '.symbol',
            number: '.number parseInt',
            category: '[data-category]',
            weight: function( itemElem ) {
            var weight = $( itemElem ).find('.weight').text();
            return parseFloat( weight.replace( /[\(\)]/g, '') );
            }
        }
        });

      // Bind filter button click.
        $('#filters').on( 'click', 'button', function() {
        var filterValue = $( this ).attr('data-filter');
        localStorage.setItem('filterValue', filterValue);
        $grid.isotope({ filter: filterValue });
        });


      // Change is-checked class on buttons.
        $('.button-group').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'button', function() {
            $buttonGroup.find('.is-checked').removeClass('is-checked');
            $( this ).addClass('is-checked');
            });
        });

        function update_isotope() {
            // Retrieve cached button click.
            var defaultFilterValue = localStorage.getItem('filterValue');
            if (defaultFilterValue == null) {
                defaultFilterValue = ".highlight"
            }
            $grid.isotope({ filter: defaultFilterValue });
            var buttons = document.getElementsByClassName("button");
            for (var currButton of buttons) {
                if (currButton.getAttribute('data-filter') == defaultFilterValue) {
                    currButton.classList.add('is-checked');
                } else {
                    currButton.classList.remove('is-checked');
                }
            }
        }

        function toggle_bio() {
            var x = document.getElementById("more-bio");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function toggle_highlights() {
        var x = document.getElementById("main-highlights");
        var y = document.getElementById("more-highlights");
        var b = document.getElementById("toggle_highlights_button")
        if (y.style.display === "none") {
            x.style.display = "none";
            y.style.display = "block";
            b.innerHTML = "Show less"
            update_isotope();
        } else {
            x.style.display = "block";
            y.style.display = "none";
            b.innerHTML = "Show more"
            update_isotope();
        }
    }

        update_isotope();

    </script>





</body>

</html>
