<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

<head>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    </style>
</head>

{%- include head.html -%}

    <body>
    <!-- ADD THIS BACK FOR ANIMATIONS!! -->
    <!-- <div class="animation-container"></div> -->
    <div class="full-screen-image">
        <span id="location-text">Shoshone, CA. Shot on iPhone. 2023.</span>
        <span id="location-title" onclick="scrollDown()">Preston Robinette</span>
    </div>
    <main class="page-content" aria-label="Content">
        <div class="wrapper-home">
            <!-- BIO -->
            <div class="white-block">
                <h1 class="home-heading">Preston Robinette</h1>
            
                <div class="home-all">
                    <div class="home-content">
                        Hi, there! I am a <span class="highlight">4th-year</span> Computer Science PhD student at Vanderbilt 
                        University in Dr. Taylor Johnson's Verification and Validation 
                        for Intelligent and Trustworthy Autonomy Laboratory <a href="http://www.taylortjohnson.com/">(VeriVITAL)</a>. 
                        I am interested in research related to <span class="highlight">machine learning applications, reinforcement 
                        learning, generative AI, interactive technologies, and cybersecurity</span>. I am honored to be supported by a National Defense Science and 
                        Engineering Graduate Fellowship (NDSEG Fellow).
                    </div>
                    <div id="intro-image">
                        <img src="/images/Headshot.jpg">
                    </div>
                </div>
            </div>

            <div class="home-content">
            <br>
            <a href="https://github.com/pkrobinette">Github</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://scholar.google.com/citations?user=FzdIX4AAAAAJ&hl=en">G. Scholar</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://linkedin.com/in/prestonrobinette">LinkedIn</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/cv/CV_F23.pdf">CV</a>
            <br>
            preston dot k dot robinette at vanderbilt dot edu
            <br><br><br>
            </div>
            
            <div class="div-line"></div>

            <div id="filters" class="button-group">
                <!-- <button class="button" data-filter="*">Show All</button> -->
                <button class="button is-checked" data-filter=".news">News</button>
                <button class="button" data-filter=".publication">Research</button>
                <button class="button" data-filter=".post">Sandbox</button>
                <!-- <button class="button" data-filter=".misc">Misc</button> -->
            </div>




            <div class="grid">

                <!-- Recent news -->
                <div id='main-news' class="list-content" data-category="news">
                    Some recent news:
                    <br><br>
                    <ul class="home-list">
                        <li>
                            <span class="home-news-meta">[Oct. 2023]</span> 
                            Gave a talk at AISoLa 2023: Bridging the Gap
                            Between AI and Reality on "Benchmark: Neural Network Malware
                            Classification."
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2023]</span> 
                            Gave a talk at European Conference on Artificial Intelligence (ECAI) 2023 on "SUDS: Sanitizing Universal and Dependent
                            Steganography."
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2023]</span> 
                            Attended the Grace Hopper Conference 2023 in Orlando, FL.
                        </li>
                        <li>
                            <span class="home-news-meta">[July 2023]</span> 
                            Gave a talk at National Defense Science and Graduate 
                            Fellowship Conference 2023 on "Self-Preserving Genetic 
                            Algorithms for Safe Learning in Discrete Action Spaces."
                        </li>
                        <li>
                            <span class="home-news-meta">[May 2023]</span> 
                            Headed to Apple for the summer as a 
                            machine learning engineering intern.
                        </li>
                    </ul>
                </div>>
        
                <!-- All Archived Highlights (Click to Show) -->
                <div class="list-content" id="more-news" style="display: None" data-category="news">
                    Some recent news:
                    <br><br>
                    <ul class="home-list">
                        <li>
                            <span class="home-news-meta">[Oct. 2023]</span> 
                            Gave a talk at AISoLa 2023: Bridging the Gap
                            Between AI and Reality on "Benchmark: Neural Network Malware
                            Classification."
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2023]</span> 
                            Gave a talk at European Conference on Artificial Intelligence (ECAI) 2023 on "SUDS: Sanitizing Universal and Dependent
                            Steganography."
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2023]</span> 
                            Attended the Grace Hopper Conference 2023 in Orlando, FL.
                        </li>
                        <li>
                            <span class="home-news-meta">[July 2023]</span> 
                            Gave a talk at National Defense Science and Graduate 
                            Fellowship Conference 2023 on "Self-Preserving Genetic 
                            Algorithms for Safe Learning in Discrete Action Spaces."
                        </li>
                        <li>
                            <span class="home-news-meta">[May 2023]</span> 
                            Headed to Apple for the summer as a 
                            machine learning engineering intern.
                        </li>
                        <li>
                            <span class="home-news-meta">[May 2023]</span> 
                            Presented "Self-Preserving Genetic Algorithms 
                            for Safe Learning in Discrete Action Spaces" and "DEMO: Self-Preserving Genetic Algorithms vs. Safe
                            Reinforcement Learning in Discrete Action Spaces"
                            at ICCPS 2023.
                        </li>
                        <li>
                            <span class="home-news-meta">[Feb. 2023]</span> 
                            Demo paper on "DEMO: Self-Preserving Genetic Algorithms vs. Safe
                            Reinforcement Learning in Discrete Action Spaces" accepted at the International
                            Conference on Cyber Physical Systems (ICCPS) 2023!
                        </li>
                        <li>
                            <span class="home-news-meta">[Jan. 2023]</span> 
                            Paper on "Self-Preserving Genetic Algorithms 
                            for Safe Learning in Discrete Action Spaces" accepted at the International
                            Conference on Cyber Physical Systems (ICCPS) 2023!
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2022]</span> 
                            Gave a talk at SEFM 2022 on "Training Agents to Satisfy 
                            Timed and Untimed Signal Temporal Logic Specifications with 
                            Reinforcement Learning."
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2022]</span> 
                            Attended the first Berlin Workshop on 
                            Artificial Intelligence for Engineering 
                            Applications (AI4EA).
                        </li>
                        <li>
                            <span class="home-news-meta">[May 2022]</span> 
                            Headed to the DoD for the summer as a 
                            cybersecurity engineering intern.
                        </li>
                        <li>
                            <span class="home-news-meta">[Mar. 2022]</span> 
                            Gave a talk at IEEE AeroConf on "Reinforcement 
                            Learning Heuristics for Aerospace Control Systems."
                        </li>
                        <li>
                            <span class="home-news-meta">[Dec. 2021]</span> 
                            Passed my Preliminary Exam.
                        </li>
                        <li>
                            <span class="home-news-meta">[Nov. 2021]</span> 
                            Paper on "Reinforcement Learning Heuristics for 
                            Aerospace Control Systems" accepted at IEEE Aerospace 2022!
                        </li>
                        <li>
                            <span class="home-news-meta">[May 2021]</span> 
                            Headed to Air Force Research Laboratory (AFRL) for the summer 
                            as a reinforcement learning research intern.
                        </li>
                        <li>
                            <span class="home-news-meta">[Apr. 2021]</span> 
                            Gave a talk on "Generative Models According to Tom Cruise" 
                            for the VandyHacks Workshop Series.
                        </li>
                        <li>
                            <span class="home-news-meta">[Apr. 2021]</span> 
                            Honored to receive and accept a National Defense Science and 
                            Engineering Graduate Fellowship. <b>(won/accepted)</b>
                        </li>
                        <li>
                            <span class="home-news-meta">[Apr. 2021]</span> 
                            Honored to receive a Science, Mathematics, and Research for 
                            Transformation Scholarship. <b>(won)</b>
                        </li>
                        <li>
                            <span class="home-news-meta">[Mar. 2021]</span> 
                            Gave a talk on "Unmasking Reinforcement Learning" for 
                            the VandyHacks Workshop Series.
                        </li>
                        <li>
                            <span class="home-news-meta">[Feb. 2021]</span> 
                            Gave a talk on "An Introduction to Artificial Intelligence" 
                            for the VandyHacks Workshop Series.
                        </li>
                        <li>
                            <span class="home-news-meta">[Jan. 2021]</span> 
                            Teaching Assistant for <i>Intermediate 
                            Software Design (CS3251)</i>. (Spring 2021)
                        </li>
                        <li>
                            <span class="home-news-meta">[Sept. 2021]</span> 
                            [Teaching Assistant for <i>Introduction to Engineering, Computer 
                            Science Modules (ES1401/ES1402/ES1403)</i>. (Fall 2020)
                        </li>
                        <li>
                            <span class="home-news-meta">[Aug. 2020]</span> 
                            Headed to Vanderbilt University to start my PhD.
                        </li>
                    </ul>
                </div>
        
                <!-- Toggle highlights button. -->
                <div class="list-content" data-category="news">
                    <a id="toggle_main_button" href="javascript:toggle_news()">Show more</a>
                </div>

                <!-- Publications -->
                <div class="list-content publication" data-category="publication">
                    <div class="thumbnail">
                        <img src="/thumbnails/suds_diagram.jpg" alt="" />
                    </div>
                    <div class="project-description">
                        <h3><a href="https://ebooks.iospress.nl/doi/10.3233/FAIA230489">SUDS: Sanitizing Universal and Dependent Steganography</a></h3>
                            <p>
                            Preston K Robinette, Hanchen David Wang, Nishan Shehadeh, Daniel Moyer, Taylor T Johnson<br>
                            <a href="https://ebooks.iospress.nl/doi/10.3233/FAIA230489">PDF</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                            <a href="https://github.com/pkrobinette/suds-ecai-2023">Code</a>
                            <br> 
                        </p>
                    </div>
                    </div>

                </div>

                <!-- SANDBOX -->
                <div class="list-content publication" data-category="post">
                    <div class="thumbnail">
                        <img src="/thumbnails/suds_diagram.jpg" alt="" />
                    </div>
                    <div class="project-description">
                        <h3><a href="https://ebooks.iospress.nl/doi/10.3233/FAIA230489">SUDS: Sanitizing Universal and Dependent Steganography</a></h3>
                            <p>
                            Preston K Robinette, Hanchen David Wang, Nishan Shehadeh, Daniel Moyer, Taylor T Johnson<br>
                            <a href="https://ebooks.iospress.nl/doi/10.3233/FAIA230489">PDF</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                            <a href="https://github.com/pkrobinette/suds-ecai-2023">Code</a>
                            <br> 
                        </p>
                    </div>
                    </div>

                </div>

            </div>>
            <!-- <div class="div-line"></div> -->
            
            <!-- PUBS
            <div class="white-block">
                <h1 class="home-heading">Selected Publications</h1>
                <div class="home-content">
                    <ul class="home-publist">
                        <li>
                            <span class="home-pubs-meta">[1]</span>
                            "Benchmark: neural network malware classification. 
                            In: AISoLA: International Symposium on Leveraging Applications
                            of Formal Methods, 2023. <span class="home-note">*</span>
                        </li>
                        <li>
                            <span class="home-pubs-meta">[2]</span>
                            "SUDS: sanitizing universal and dependent steganography". European Conference on Artificial
                            Intelligence (ECAI), vol.372, pp. 1978-1985, 2023. <span class="home-note">*</span>
                        </li>
                        <li>
                            <span class="home-pubs-meta">[3]</span> 
                            "Self-Preserving Genetic Algorithms for Safe Learning in Discrete Action Spaces." Proceedings of the ACM/IEEE 14th 
                            International Conference on Cyber-Physical Systems (with CPS-IoT Week 2023). 2023.<span class="home-note">*</span>
                        </li>
                        <li>
                            <span class = "home-pubs-meta">[4]</span>
                            ""DEMO: Self-Preserving Genetic Algorithms vs. Safe
                            Reinforcement Learning in Discrete Action Spaces"Proceedings of the ACM/IEEE 14th 
                            International Conference on Cyber-Physical Systems (with CPS-IoT Week 2023). 2023.<span class="home-note">*</span>
                        </li>
                        <li>
                            <span class="home-pubs-meta">[5]</span> 
                            “Automated detection of corrosion in used nuclear 
                            fuel dry storage canisters using residual neural networks,” 
                            Nuclear Engineering and Technology, vol. 53, no. 2, pp. 657–665, 2021.
                        </li>
                        <li>
                            <span class="home-pubs-meta">[6]</span> 
                            “Reinforcement learning heuristics for aerospace 
                            control systems,” IEEE Aerospace, 2021.<span class="home-note">*</span>
                        </li>
                        <li>
                            <span class="home-pubs-meta">[7]</span> 
                            “Training agents to satisfy timed and untimed signal 
                            temporal logic specifications with 	reinforcement learning,” 
                            in International Conference on Software Engineering and Formal 	
                            Methods, pp. 190–206, Springer, 2022.
                        </li>
                        <li>
                            <span class="home-pubs-meta">[8]</span> 
                            “An empirical analysis of the use of real-time reachability for the safety assurance of 
                            autonomous 	vehicles,” arXiv preprint arXiv:2205.01419, 2022.
                        </li>
                        <li>
                            <span class="home-pubs-meta">[9]</span> 
                            “Myoelectric control of prosthetics and robotics,” Bulletin of 
                            the American Physical Society, vol. 63, 2018.<span class="home-note">*</span>
                        <li>
                    </ul>
                    <span class="home-note">*</span> first author
                </div> -->


            </div>
        </div>
    </main>

    {%- include footer.html -%}
    <script>

        function scrollDown() {
        // Scroll down by the height of the viewport
        window.scrollBy({
            top: window.innerHeight, // Vertical scroll equal to the viewport's height
            left: 0, // No horizontal scroll
            behavior: 'smooth' // Smooth scrolling
        });
    }

          // Isotope grid.
        var $grid = $('.grid').isotope({
        itemSelector: '.list-content',
        layoutMode: 'fitRows',
        transitionDuration: 0,
        stagger: 10,
        initLayout: false,
        getSortData: {
            name: '.name',
            symbol: '.symbol',
            number: '.number parseInt',
            category: '[data-category]',
            weight: function( itemElem ) {
            var weight = $( itemElem ).find('.weight').text();
            return parseFloat( weight.replace( /[\(\)]/g, '') );
            }
        }
        });

      // Bind filter button click.
        $('#filters').on( 'click', 'button', function() {
        var filterValue = $( this ).attr('data-filter');
        localStorage.setItem('filterValue', filterValue);
        $grid.isotope({ filter: filterValue });
        });


      // Change is-checked class on buttons.
        $('.button-group').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'button', function() {
            $buttonGroup.find('.is-checked').removeClass('is-checked');
            $( this ).addClass('is-checked');
            });
        });

        function update_isotope() {
            // Retrieve cached button click.
            var defaultFilterValue = localStorage.getItem('filterValue');
            if (defaultFilterValue == null) {
                defaultFilterValue = ".news"
            }
            $grid.isotope({ filter: defaultFilterValue });
            var buttons = document.getElementsByClassName("button");
            for (var currButton of buttons) {
                if (currButton.getAttribute('data-filter') == defaultFilterValue) {
                    currButton.classList.add('is-checked');
                } else {
                    currButton.classList.remove('is-checked');
                }
            }
        }

        function toggle_bio() {
            var x = document.getElementById("more-bio");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function toggle_news() {
            var x = document.getElementById("main-news");
            var y = document.getElementById("more-news");
            var b = document.getElementById("toggle_news_button")
            if (y.style.display === "none") {
                x.style.display = "none";
                y.style.display = "block";
                b.innerHTML = "Show less"
                update_isotope();
            } else {
                x.style.display = "block";
                y.style.display = "none";
                b.innerHTML = "Show more"
                update_isotope();
            }
        }

        update_isotope();

    </script>





</body>

</html>
